*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    margin: 40px;

}
body{
    display: grid;
    justify-content: center;
}
/* Homepage styling */

ul li{
    list-style: none;
}
ul li a{
    /* text-decoration: none; */
    font-size: 20px;
}
a:active{
    color: pink;
}
a:visited{
    color: blue;
}
a:hover{
    color: #000;
}
/* Salmon styling */
img{
   margin: auto; 
}
h2,h3,p,ul{
    margin: 30px 0 20px 0 ;
}
